<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Application Complete</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Noto+Sans+KR:400,500&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Montserrat', 'Noto Sans KR', sans-serif; margin:0;">
<table style="border: 0; font-size: 16px; margin:0 auto;">
    <colgroup>
        <col style="width:50%" />
        <col style="width:50%" />
    </colgroup>

    <thead>
    <tr>
        <td colspan="2" style="border-bottom: 2px solid #FF4400; padding: 15px;"></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <div>
                <h2 style=" font-weight:600; font-size:20px; margin: 60px 0 12px;">{{recrKorName}}입학신청이 완료되었습니다.</h2>
                <h3 style="font-weight:600; font-size:14px; margin:0 0 10px;">Your application has been completed {{recrEngName}}</h3>
            </div>
        </td>
    </tr>
</thead>
    <tbody>
    <tr>
        <td style="padding-top:40px; font-size:16px; font-weight:600; padding-left:60px; padding-right:60px; padding-right:8px;">
            <div style="color:#8D8D8D; font-size:12px; margin-bottom:12px; font-weight:400;">이름(Name)</div>
            <div style="padding-bottom:10px; border-bottom:1px solid #C9C9C9;">{{userName}}</div>
        </td>
        <td style="padding-top:40px; font-size:16px; font-weight:600; padding-left:60px; padding-right:60px; padding-left:8px;">
            <div style="color:#8D8D8D; font-size:12px; margin-bottom:12px; font-weight:400;">ID</div>
            <div style="padding-bottom:10px; border-bottom:1px solid #C9C9C9;">{{userId}}</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top:40px; font-size:16px; font-weight:600; padding-left:60px; padding-right:60px;">
            <div style="color:#8D8D8D; font-size:12px; margin-bottom:12px; font-weight:400;">수험번호(Application Number)</div>
            <div style="padding-bottom:10px; border-bottom:1px solid #C9C9C9;">{{applId}}</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top:40px; font-size:16px; font-weight:600; padding-left:60px; padding-right:60px;">
            <div style="color:#8D8D8D; font-size:12px; margin-bottom:12px; font-weight:400;">전형(Course)</div>
            <div style="padding-bottom:10px; border-bottom:1px solid #C9C9C9;">{{corsName}}</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top:40px; font-size:16px; font-weight:600; padding-left:60px; padding-right:60px;">
            <div style="color:#8D8D8D; font-size:12px; margin-bottom:12px; font-weight:400;">과정(Category)</div>
            <div style="padding-bottom:10px; border-bottom:1px solid #C9C9C9;">{{categoryName}}</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top:40px; font-size:16px; font-weight:600; padding-left:60px; padding-right:60px;">
            <div style="color:#8D8D8D; font-size:12px; margin-bottom:12px; font-weight:400;">전공(Major)</div>
            <div style="padding-bottom:10px; border-bottom:1px solid #C9C9C9;">{{majorName}}</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding:20px;">
            <div style="padding:20px 60px; font-size:16px;">
                <p>[ 추천서 제출 방법 ]</p>
                <p>- 추천서 요청은 우측 상단의 "My List" >> "Request Letter" 버튼을 누른 후 상세정보 입력하여 요청 가능합니다.
                <p>- 추천서는 지원마감일 내 접수될 수 있어야 하며, 지원자는 마감일 내 추천서가 접수될 수 있도록 추천자에게 권고하여야 합니다.</p>
                <br/>
                <p>[ Procedure for Requesting Recommendation Letter ]</p>
                <p>- Request for Recommendation Letter(s) will be sent to the recommender by pressing the "My List" >> "Request Letter" button (with their personal information) on top right corner of the screen.</p>
                <p>- You must personally contact the recommender to check the mail box and encourage the recommender to upload the letter.
                <p>- It is for the applicant’s responsibility to contact the recommender and to get the letter uploaded on time</p>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="https://gradnet.kr/" target="_blank" style="color: #fff;
        background: #ffa700;
        background: -webkit-gradient(linear, left top, right top, from(#ffa700), to(#f60));
        background: linear-gradient(90deg, #ffa700 0%, #f60 100%);
        display:block;
        border: 0;
        padding: 0;
        margin: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-shadow: none;
        font-size: 17px;
        line-height: 27px;
        padding: 12px 0;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        width:200px;
        margin:10px auto 20px;
        text-align:center;">
                <span style="font-size: 13px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-weight:normal; line-height:1.5em; text-align:center;">Go To Gradnet</span>
            </a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2" style="background:#F0F0F0; color: #8D8D8D; font-size: 11px; padding:20px; text-align:center;">
            Copyright ⓒ ApexSoft |  e-mail : gradnet@apexsoft.co.kr
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>
