<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Find User ApplID</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Noto+Sans+KR:400,500&display=swap"
          rel="stylesheet">
    <style>
        .applLine2 {
            /*border-bottom: 1px solid #C9C9C9;*/
            /*padding: 20px 0;*/
            color: #666666;
            font-weight: 600;
            border-collapse: collapse;
        }
    </style>
</head>
<body style="font-family: 'Montserrat', 'Noto Sans KR', sans-serif;margin:0;">
<table style="border: 0; font-size: 16px; margin:0 auto;">
    <thead>
    <tr>
        <td colspan="3" style="border-bottom: 2px solid #FF4400; padding: 15px;"></td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: center;">
            <div>
                <h2 style="font-weight:600; font-size:20px; margin: 60px 0 50px;">Applicant Information</h2>
            </div>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="" 3
        ">
        <table style="border: 0; font-size: 16px; margin:0 auto; width:100%; border-collapse: collapse;">
            <colgroup>
                <col style="width:35%"/>
                <col style="width:35%"/>
                <col style="width:30%"/>
            </colgroup>
            <thead>
            <td style="color:#8D8D8D; white-space:nowrap;">
                학교명(School Name)
            </td>
            <td style="color:#8D8D8D; white-space:nowrap;">
                모집분기(Admission Session)
            </td>
            <td style="color:#8D8D8D; white-space:nowrap;">
                수험번호(Application Number)
            </td>
            </thead>
            <tbody>
            <tr>
                <td style="font-weight: 600; border-collapse: collapse;">{{schoolName0}}</td>
                <td style="font-weight: 600; border-collapse: collapse;">{{recruitPartName0}}</td>
                <td style="font-weight: 600; border-collapse: collapse;">{{applId0}}</td>
            </tr>
            <tr>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{schoolName1}}</td>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{recruitPartName1}}</td>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{applId1}}</td>
            </tr>
            <tr>
                <td style="font-weight: 600; border-collapse: collapse;">{{schoolName2}}</td>
                <td style="font-weight: 600; border-collapse: collapse;">{{recruitPartName2}}</td>
                <td style="font-weight: 600; border-collapse: collapse;">{{applId2}}</td>
            </tr>
            <tr>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{schoolName3}}</td>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{recruitPartName3}}</td>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{applId3}}</td>
            </tr>
            <tr>
                <td style="font-weight: 600; border-collapse: collapse;">{{schoolName4}}</td>
                <td style="font-weight: 600; border-collapse: collapse;">{{recruitPartName4}}</td>
                <td style="font-weight: 600; border-collapse: collapse;">{{applId4}}</td>
            </tr>
            <tr>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{schoolName5}}</td>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{recruitPartName5}}</td>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{applId5}}</td>
            </tr>
            <tr>
                <td style="font-weight: 600; border-collapse: collapse;">{{schoolName6}}</td>
                <td style="font-weight: 600; border-collapse: collapse;">{{recruitPartName6}}</td>
                <td style="font-weight: 600; border-collapse: collapse;">{{applId6}}</td>
            </tr>
            <tr>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{schoolName7}}</td>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{recruitPartName7}}</td>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{applId7}}</td>
            </tr>
            <tr>
                <td style="font-weight: 600; border-collapse: collapse;">{{schoolName8}}</td>
                <td style="font-weight: 600; border-collapse: collapse;">{{recruitPartName8}}</td>
                <td style="font-weight: 600; border-collapse: collapse;">{{applId8}}</td>
            </tr>
            <tr>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{schoolName9}}</td>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{recruitPartName9}}</td>
                <td style="color: #666666; font-weight: 600; border-collapse: collapse;">{{applId9}}</td>
            </tr>
            </tbody>
        </table>
        </td>

        <td colspan="3" style="padding:20px;"></td>
    </tr>

    </tbody>
    <tfoot>
    <tr>
        <td colspan="2" style="background:#F0F0F0; color: #8D8D8D; font-size: 11px; padding:20px; text-align:center;">
            Copyright ⓒ ApexSoft | e-mail : gradnet@apexsoft.co.kr
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>
