<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Find Password</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Noto+Sans+KR:400,500&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Montserrat', 'Noto Sans KR', sans-serif;margin:0;">
<table style="border: 0; font-size: 16px; margin:0 auto;">
    <colgroup>
        <col style="width:50%" />
        <col style="width:50%" />
    </colgroup>

    <thead>
    <tr>
        <td colspan="2" style="border-bottom: 2px solid #FF4400; padding: 15px;"></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <div>
                <h2 style="font-weight:600; font-size:20px; margin: 60px 0 12px;">
                    '비밀번호 변경'버튼을 클릭하여 새로운 비밀번호를 설정해주세요.<br />
                    ( Click the 'Change Password' button to set a new password.)
                </h2>
                <h3 style="font-weight:600; font-size:14px; margin:0 0 10px;">
                    30분 내에 수행하셔야합니다.<br />
                    ( Please Change your password within 30 minutes.)
                </h3>
            </div>
        </td>
    </tr>
    </thead>
    <tbody>
    <td colspan="2">
        <a href="{{url}}" target="_blank" style="color: #fff;
        background: #ffa700;
        background: -webkit-gradient(linear, left top, right top, from(#ffa700), to(#f60));
        background: linear-gradient(90deg, #ffa700 0%, #f60 100%);
        display:block;
        border: 0;
        padding: 0;
        margin: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-shadow: none;
        font-size: 17px;
        line-height: 27px;
        padding: 12px 0;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        width:250px;
        margin:30px auto 30px;
        text-align:center;">
            <span style="font-size: 13px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-weight:normal; line-height:1.5em; text-align:center;">비밀번호 변경 / Change Password</span>
        </a>
    </td>
    </tbody>
    <tfoot>
    <td colspan="2" style="background:#F0F0F0; color: #8D8D8D; font-size: 11px; padding:20px; text-align:center;">
        Copyright ⓒ ApexSoft | e-mail : gradnet@apexsoft.co.kr
    </td>
    </tfoot>
</table>
</body>
</html>
