<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>결제 실패 알림</title>
</head>
<body style="font-family: 'Montserrat', 'Noto Sans KR', sans-serif;margin:0;">
    <h3>결제 실패 알림 - 실패정보</h3>
    <p><strong>지원 상세 :</strong> {{admsInfo}}</p>
    <p><strong>applNo :</strong> {{applNo}}</p>
    <p><strong>결제타입 :</strong> {{payType}}</p>
    <p><strong>에러 메시지 :</strong> {{message}}</p>
    <p><strong>요청정보 :</strong> {{detail}}</p>
</body>
</html>
