<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>메일</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Noto+Sans+KR:400,500&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Montserrat', 'Noto Sans KR', sans-serif;margin:0;">
<table style="border: 0; font-size: 16px; margin:0 auto;">
    <colgroup>
        <col style="width:50%" />
        <col style="width:50%" />
    </colgroup>

    <thead>
    <tr>
        <td colspan="2" style="border-bottom: 2px solid #FF4400;padding: 15px;"></td>
    </tr>
    </thead>
    <tbody>
    <td colspan="2">
        <div style="padding:20px 60px; font-size:16px;">
            <p>Dear {{recName}}, </p>
            <br />
            <p>{{profName}} has completed your recommendation letter submission.</p>
            <p>Please login to GRADNET({{url}}) to view your recommendation letter status.</p>
            <br />
            <p>Thank you.</p>
            <br />
            <p>The e-mail is sent from GRADNET, online application service provider,</p>
            <p>Please e-mail us at gradnet@apexsoft.co.kr if you need any technical assistance</p>
            <br/>
        </div>
    </td>
    </tbody>
    <tfoot>
    <td colspan="2" style="background:#F0F0F0; color: #8D8D8D; font-size: 11px; padding:20px; text-align:center;">
        Copyright ⓒ ApexSoft | e-mail : gradnet@apexsoft.co.kr
    </td>
    </tfoot>
</table>
</body>
</html>
