<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Request Recommend Letter</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Noto+Sans+KR:400,500&display=swap" rel="stylesheet">
</head>
<body style="font-family:'Montserrat','Noto Sans KR',sans-serif; margin:0;">
<div style="padding:20px; font-size:16px;">
    <div style="padding:0px 40px;">
        <p>Dear {{profName}},</p>
        <p>The person named below has applied to {{recrShclEngName}} and registered you as a referee.</p>
        <p>We would appreciate it if you submit the reference letter in support of the following applicant before {{recDeadline}} KST.<p>
    </div>
    <table style="border: 0; font-size: 16px; margin-left:100px;">
        <thead>
        <tr>
            <td colspan="2" style="border-bottom: 2px solid #FF4400; padding: 15px;"></td>
        </tr>
        <tr>
            <td colspan="2">
                <h2 style="font-weight:600; font-size:20px; margin:10px 0;text-align:center;">Applicant Information</h2>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="2" style="padding-top:20px; font-size:16px; font-weight:600; padding-left:60px; padding-right:60px;">
                <div style="color:#8D8D8D; font-size:12px; margin-bottom:12px; font-weight:400;">Name</div>
                <div style="padding-bottom:10px; border-bottom:1px solid #C9C9C9;">{{name}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top:20px; font-size:16px; font-weight:600; padding-left:60px; padding-right:60px;">
                <div style="color:#8D8D8D; font-size:12px; margin-bottom:12px; font-weight:400;">Nationality</div>
                <div style="padding-bottom:10px; border-bottom:1px solid #C9C9C9;">{{nationality}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top:20px; font-size:16px; font-weight:600; padding-left:60px; padding-right:60px;">
                <div style="color:#8D8D8D; font-size:12px; margin-bottom:12px; font-weight:400;">Program</div>
                <div style="padding-bottom:10px; border-bottom:1px solid #C9C9C9;">{{program}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top:20px; font-size:16px; font-weight:600; padding-left:60px; padding-right:60px;">
                <div style="color:#8D8D8D; font-size:12px; margin-bottom:12px; font-weight:400;">Sub Field</div>
                <div style="padding-bottom:10px; border-bottom:1px solid #C9C9C9;">{{subField}}</div>
            </td>
        </tr>
        <td colspan="2">
            <a href="{{url}}" target="_blank" style="color: #fff;
            background: #ffa700;
            background: -webkit-gradient(linear, left top, right top, from(#ffa700), to(#f60));
            background: linear-gradient(90deg, #ffa700 0%, #f60 100%);
            display:block;
            border: 0;
            padding: 0;
            margin: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            text-shadow: none;
            font-size: 17px;
            line-height: 27px;
            padding: 12px 0;
            border-radius: 10px;
            cursor: pointer;
            text-decoration: none;
            width:400px;
            margin:30px auto 30px;
            text-align:center;">
                <span >Enter Recommendation letter</span>
            </a>
        </td>
        </tbody>
        <tfoot>
        </tfoot>
    </table>

    <div style="padding:0px 40px; font-size:14px;">
        <p>  URL : {{url}}</p>
        <p>  Submitting a reference will involve the following steps:</p>
        <p style="padding-left:10px;">- Access the reference system using the 'Enter Recommendation letter' button supplied to you</p>
        <p style="padding-left:10px;">- Answer a series of questions regarding the applicant</p>
        <p style="padding-left:10px;">- Save your reference (Click “Temporary Save Recommendation letter ” button)</p>
        <p style="padding-left:10px;">- Submit your reference (Click “Submit Recommendation letter” button)</p>
    </div>
    <div style="padding:10px 40px 0 20px;">
        <p>This e-mail is sent from GRADNET, the online application service provider.</p>
        <p>Please e-mail us at gradnet@apexsoft.co.kr if you need any technical assistance.</p>
    </div>
    <div  style="width:1000px;background:#F0F0F0; color: #8D8D8D; font-size: 12px; margin:10px 100px 0 0; padding:10px; text-align:center;">
        <p>Copyright ⓒ ApexSoft | e-mail : gradnet@apexsoft.co.kr</p>
    </div>
</div>
</body>
</html>
