<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register User Check</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Noto+Sans+KR:400,500&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Montserrat', 'Noto Sans KR', sans-serif;margin:0;">
<table style="border: 0; font-size: 16px; margin:0 auto;">
    <colgroup>
        <col style="width:50%" />
        <col style="width:50%" />
    </colgroup>

    <thead>
    <tr>
        <td colspan="2" style=" border-bottom: 2px solid #FF4400; padding: 15px;"></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <div>
                <h2 style="font-weight:600; font-size:20px; margin: 60px 0 12px;">가입해주셔서 감사합니다. </h2>
                <h3 style="font-weight:600; font-size:14px; margin:0 0 10px;">아래 버튼을 클릭해주세요. 30분 간만 유효합니다.</h3>
            </div>
        </td>
    </tr>
    </thead>
    <tbody>
    <td colspan="2">
        <a href="{{url}}" target="_blank" style="color: #fff;
            background: #ffa700;
            background: -webkit-gradient(linear, left top, right top, from(#ffa700), to(#f60));
            background: linear-gradient(90deg, #ffa700 0%, #f60 100%);
            display:block;
            border: 0;
            padding: 0;
            margin: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            text-shadow: none;
            font-size: 17px;
            line-height: 27px;
            padding: 12px 0;
            border-radius: 10px;
            cursor: pointer;
            text-decoration: none;
            width:200px;
            margin:30px auto 30px;
            text-align:center;">
            <span style="font-size: 13px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-weight:normal; line-height:1.5em; text-align:center;">이메일 인증</span>
        </a>
    </td>
    </tbody>
    <tfoot>
    <td colspan="2" style="background:#F0F0F0; color: #8D8D8D; font-size: 11px; padding:20px; text-align:center;">
        Copyright ⓒ ApexSoft | e-mail : gradnet@apexsoft.co.kr
    </td>
    </tfoot>
</table>
</body>
</html>
