<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>메일</title>

    <style>


        .line1 {
            border-bottom: 4px solid #62cb31;
            padding: 15px;
        }

        .totalfont {
            text-align: center;
        }

        table {
            border: "0";
            font-size: 25px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td class="line1">GRADNET<br>
        </td>
    </tr>
    <tr>
        <td class="totalfont">
            <div>
                <p>APEXSOFT를 이용해 주셔서 감사합니다.</p>
                <p>프로젝트이름 :{{projectName}}</p>
                <p>하고싶은 이야기 :{{content}}</p>

            </div>
        </td>
    </tr>
    <tr bgcolor="#62cb31" style="color: white; font-size: 15px; padding:10px;">

        <td style="padding:10px;">
            (주)에이펙스소프트 | 서울 마포구 양화로 156, 1121(동교동, 엘지팰리스) | 대표이사 김도훈
            |사업자등록번호 105-87-66045 | 전화 1899-1016<br> 통신판매업신고번호 서울마포-1109호 |
            개인정보관리책임자 김도훈 | 개인정보보유기간 회원 탈퇴시까지
        </td>
    </tr>

</table>
</body>
</html>
